.root {
}

.heroWrapper {
	background-image: url('../../assets/images/hero/careers.jpg');
	background-size: cover;
	background-position: 50%;
	background-color: var(--color-dark);
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: calc(var(--grid-size) * 6);
}

.item {
	padding: calc(var(--grid-size) * 2);
	flex: 33%;
	margin: calc(var(--grid-size) * 2) 0;
	text-align: center;
	box-sizing: border-box;
}

.itemTitle {
	text-transform: uppercase;
	font-weight: bolder;
	margin: calc(var(--grid-size) * 2) 0;
	letter-spacing: 1px;
	font-family: var(--heading-font-family);
}

.openPositions {
	text-align: center;
	margin-top: calc(var(--grid-size) * 4);
	margin-bottom: calc(var(--grid-size) * 6);
}

@media (max-width: 768px) {
	.root .list {
		flex-direction: column;
	}
}
