.root {
}

.heroWrapper {
	background-size: cover;
	background-position: 50%;
	background-color: var(--color-dark);
	margin-bottom: calc(var(--grid-size) * 8);
}

.socialHero {
	background-image: url('../../assets/images/hero/social.jpg');
}

.builtHero {
	background-image: url('../../assets/images/hero/built.jpg');
}

.marriottHero {
	background-image: url('../../assets/images/hero/marriott.jpg');
}

.fannieHero {
	background-image: url('../../assets/images/hero/fannie.jpg');
}

.bullets {
	list-style: disc;
	padding-left: calc(var(--grid-size) * 4);
}

.root .outroTitle {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

.result {
	margin-bottom: calc(var(--grid-size) * 8);
}
