.root {
}

.heroWrapper {
	background-image: url('../../assets/images/hero/expertise.jpg');
	background-size: cover;
	background-position: 50%;
	background-color: var(--color-dark);
}

.topSection {
	margin: calc(var(--grid-size) * 8) 0;
	display: flex;
	flex-direction: row;
}

.leading,
.trailing {
	flex: 50%;
	padding: calc(var(--grid-size) * 2);
}

.root .topHeading {
	font-weight: 600;
	font-size: 38px;
	line-height: 48px;
	font-family: var(--base-font-family);
}

.javascript {
	margin-bottom: calc(var(--grid-size) * 8);
}

.jsHeading {
	text-align: center;
}

.jsList {
	display: flex;
	flex-direction: row;
	margin: calc(var(--grid-size) * 6) 0;
	align-items: center;
	justify-content: space-around;
}

.jsImg {
	max-width: 58px;
}
