.root .content {
	font-size: 16px;
	line-height: 28px;
}

.heroWrapper {
	background-color: var(--dojo-hero-background);
}

.heading {
	margin-top: calc(var(--grid-size) * 4);
}

.numberedList {
	list-style: decimal;
	padding-left: calc(var(--grid-size) * 5);
}

.bulletList {
	list-style: disc;
	padding-left: calc(var(--grid-size) * 5);
}
