.root {
	line-height: 28px;
}

.heroWrapper {
	background-image: url('../../assets/images/hero/services.jpg');
	background-size: cover;
	background-position: 50%;
	background-color: var(--color-dark);
}

.topSection {
	margin: calc(var(--grid-size) * 8) 0;
	display: flex;
	flex-direction: row;
}

.shadow {
	box-shadow: 0px 18px 20px 0px rgba(31, 61, 86, 0.07);
}

.leading {
	flex: 50%;
}

.trailing {
	flex: 50%;
	margin-top: var(--grid-size);
}

.topTitle {
	font-weight: 600;
	font-size: 36px;
	line-height: 48px;
	padding-right: calc(var(--grid-size) * 3);
	box-sizing: border-box;
}

.iconList .item {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 24px;
	margin-bottom: calc(var(--grid-size) * 2);
}

.iconList {
	padding: var(--grid-size) 0;
}

.iconList .img {
	margin-right: calc(var(--grid-size) * 2);
}

.resultsSection {
	text-align: center;
	padding-bottom: calc(var(--grid-size) * 8);
}

.resultsSection .title {
	color: var(--color-primary-subtle);
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 20px;
}

.heading {
	margin-top: calc(var(--grid-size) * 12);
	margin-bottom: calc(var(--grid-size) * 8);
}

.holisticImage {
	max-width: 314px;
}

.devImg {
	height: calc(var(--grid-size) * 40);
}

@media (max-width: 768px) {
	.topSection {
		flex-direction: column;
	}
	.topSection .leading,
	.topSection .trailing {
		flex: 1;
	}
	.topTitle {
		font-size: 34px;
		line-height: 40px;
		padding-right: 0;
	}
	.title {
		margin-bottom: calc(var(--grid-size) * 4);
	}
	.item {
		margin-bottom: calc(var(--grid-size) * 8);
	}
	.resultsSection {
		padding-bottom: 0;
	}
}
