.root {
	font-family: var(--base-font-family);
	font-weight: var(--base-font-weight);
	font-size: var(--base-font-size);
	color: var(--color-text);
}

.wrapper {
	max-width: var(--max-width);
	margin: 0 auto;
}
