.root {
}

@media (max-width: 768px) {
	.root {
		--heading-font-size: 26px;
		--heading-font-weight: 500;
		--heading-line-height: 26px;

		--subheading-font-size: 20px;
		--subheading-font-weight: 500;
		--subheading-line-height: 20px;
	}
}
