.contentWrapper {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 var(--gutter-size);
}

.smallerContentWrapper {
	max-width: var(--max-width-smaller);
	margin: calc(var(--grid-size) * 8) auto;
	padding: 0 var(--gutter-size);
}

.linkButton {
	display: inline-block;
	margin-top: calc(var(--grid-size) * 2);
	background-color: var(--color-primary);
	color: var(--color-text-on-dark);
	padding: var(--grid-size) calc(var(--grid-size) * 2);
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 13px;
	border-radius: 50%;
	border-radius: 100px;
}

.linkButton:hover {
	background-color: var(--color-medium);
	color: var(--color-text-on-dark);
}

.heading {
	font-weight: var(--heading-font-weight);
	color: var(--color-subheading);
	font-size: var(--heading-font-size);
	line-height: var(--heading-line-height);
	margin-bottom: calc(var(--grid-size) * 2);
}

.subheading {
	font-weight: var(--subheading-font-weight);
	font-size: var(--subheading-font-size);
	line-height: var(--subheading-line-height);
	margin-bottom: calc(var(--grid-size) * 2);
	color: var(--color-subheading);
}

.centered {
	text-align: center;
}
