@import './reset.css';
@import './variables.css';
@import './assets/fonts/fa-sp.css';

body {
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: var(--base-font-weight);
	color: var(--color-text);
	line-height: var(--base-line-height);
}

a {
	text-decoration: none;
	color: var(--color-primary-subtle);
}

a:hover {
	color: var(--color-primary);
}

h1 {
	font-weight: var(--heading1-font-weight);
	font-family: var(--heading-font-family);
	color: var(--color-text-on-dark);
	font-size: var(--heading1-font-size);
	line-height: var(--heading1-font-size);
}

h2 {
	font-weight: var(--heading2-font-weight);
	font-family: var(--heading-font-family);
	color: var(--color-subheading);
	font-size: var(--heading2-font-size);
	line-height: var(--heading2-line-height);
	margin-bottom: calc(var(--grid-size) * 2);
}

h3 {
	font-weight: var(--heading3-font-weight);
	font-family: var(--base-font-family);
	font-size: var(--heading3-font-size);
	margin-bottom: calc(var(--grid-size) * 2);
	color: var(--color-subheading);
}

p {
	margin-bottom: calc(var(--grid-size) * 2);
}

img {
	max-width: 100%;
}

b {
	font-weight: bolder;
}
