.post-content {
	color: #333;
}

.post-content p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.post-content h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin-top: calc(var(--grid-size) * 4);
	margin-bottom: calc(var(--grid-size) * 2);
}

.post-content h3 {
	font-size: 21px;
	line-height: 25px;
	font-weight: 700;
	margin-top: calc(var(--grid-size) * 4);
	margin-bottom: calc(var(--grid-size) * 2);
}

.post-content h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	margin-top: calc(var(--grid-size) * 3);
	margin-bottom: calc(var(--grid-size) * 1);
}

.post-content ul {
	padding-inline-start: calc(var(--grid-size) * 5);
	list-style-type: disc;
	margin-bottom: calc(var(--grid-size) * 2);
	line-height: 28px;
}

.post-content ol {
	padding-inline-start: calc(var(--grid-size) * 5);
	list-style-type: decimal;
	margin-bottom: calc(var(--grid-size) * 2);
	line-height: 28px;
}

.post-content code:not([class]) {
	padding: 2px 4px;
	font-size: 95% !important;
	color: #242729;
	background-color: #eff0f1;
	border-radius: 4px;
	font-family: monospace;
}

.post-content img {
	height: auto;
	max-width: 100%;
}

.post-content strong {
	font-weight: bolder;
}

.post-content pre {
	font-size: 0.9em;
}

.post-content .hs-form .hs-form-field {
	margin-bottom: calc(var(--grid-size) * 2);
}

.post-content .hs-form label {
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	color: var(--color-subheading);
}

.post-content .hs-form input:not([type='submit']) {
	margin-top: var(--grid-size);
	font-family: var(--base-font-family);
	padding: var(--grid-size) calc(var(--grid-size) * 2);
	border: 1px solid var(--input-border-color);
	border-radius: var(--input-border-radius);
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--color-dark);
	transition: border-color 0.3s ease;
	outline: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.post-content .hs-form input[type='submit'] {
	border: none;
	background-color: var(--color-medium);
	color: var(--color-text-on-dark);
	cursor: pointer;
	text-transform: uppercase;
	transition: background-color 0.3s ease, color 0.3s ease;
	padding: calc(var(--grid-size) * 2) calc(var(--grid-size) * 4);
	border-radius: 100px;
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	font-family: var(--heading-font-family);
	letter-spacing: 2px;
	line-height: 15px;
}

.post-content .hs-form input[type='submit']:hover {
	color: var(--color-text-on-dark);
	background-color: var(--color-primary-subtle);
}
