:root {
	/* colors */
	--color-dark: #09131f;
	--color-medium: #0a2944;
	--color-text-on-dark: #fff;
	--color-text: #335878;
	--color-primary: #5cdbdd;
	--color-primary-medium: #33babc;
	--color-primary-subtle: #259799;
	--color-subheading: #1f3d56;
	--dojo-hero-background: #082640;

	/* inputs */
	--input-border-color: #d9dadb;
	--input-border-radius: 3px;

	/* layout */
	--grid-size: 8px;
	--max-width: 1140px;
	--max-width-smaller: 840px;
	--gutter-size: calc(var(--grid-size) * 4);

	/* typography */
	--base-font-family: 'Open Sans', sans-serif;
	--heading-font-family: 'Montserrat', sans-serif;

	--heading-font-size: 32px;
	--heading-font-weight: 600;
	--heading-line-height: 32px;

	--subheading-font-size: 28px;
	--subheading-font-weight: 600;
	--subheading-line-height: 28px;

	--heading-xl-font-weight: 800;
	--heading-xl-font-size: 96px;

	--heading2-font-weight: 600;
	--heading2-font-size: 40px;
	--heading2-line-height: 52px;

	--heading3-font-weight: 700;
	--heading3-font-size: 18px;

	--base-font-size: 16px;
	--base-font-weight: 400;
	--base-line-height: 24px;

	/* breakponts */
	--breakpoint-small: 576px;
	--breakpoint-medium: 768px;
	--breakpoint-large: 992px;
	--breakpoint-xlarge: 1200px;

	/* // Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) { ... }

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { ... }

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { ... }

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { ... } */

	/* @media (max-width: 575.98px) { ... }

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767.98px) { ... }

	// Medium devices (tablets, less than 992px)
	@media (max-width: 991.98px) { ... }

	// Large devices (desktops, less than 1200px)
	@media (max-width: 1199.98px) { ... } */
}
