:root {
	/* colors */
	--color-dark: #09131f;
	--color-medium: #0a2944;
	--color-text-on-dark: #fff;
	--color-text: #335878;
	--color-primary: #5cdbdd;
	--color-primary-subtle: #33babc;
	--color-subheading: #1f3d56;

	/* layout */
	--grid-size: 8px;
	--max-width: 1140px;

	/* typography */
	--base-font-family: 'Open Sans', sans-serif;
	--heading-font-family: 'Montserrat', sans-serif;

	--heading-font-weight: 600;
	--heading-font-size: 32px;

	--heading-xl-font-weight: 800;
	--heading-xl-font-size: 96px;

	--subheading-font-weight: 600;
	--subheading-font-size: 40px;
	--subheading-line-height: 52px;

	--base-font-size: 16px;
	--base-font-weight: 400;
	--base-line-height: 28px;
}
