.categoryGroup {
	padding: calc(var(--grid-size) * 2) 0;
	border-bottom: 1px solid #adadad;
}

.categoryTitle {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 14px;
	margin-bottom: calc(var(--grid-size) * 2);
	font-family: var(--heading-font-family);
}

.popularItem {
	margin-bottom: var(--grid-size);
	font-weight: 500;
}
