.root {
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	max-width: var(--max-width);
	padding: 0 var(--gutter-size);
}

.top {
	background-color: var(--color-medium);
	height: calc(var(--grid-size) * 16);
}

.bottom {
	background-color: var(--color-dark);
	color: var(--color-text-on-dark);
	height: calc(var(--grid-size) * 5);
	font-size: 12px;
	font-weight: 400;
}

.top,
.bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.links {
	display: flex;
}

.social {
	display: flex;
}

.links .item {
	padding-right: calc(var(--grid-size) * 4);
	text-transform: uppercase;
	font-weight: var(--heading-font-weight);
	font-family: var(--heading-font-family);
	font-size: 12px;
	letter-spacing: 1px;
	transition: color 0.3s cubic-bezier(0.58, 0.3, 0.005, 1);
	text-align: center;
}

.top .link,
.bottom .link {
	color: var(--color-text-on-dark);
}

.links .item:last-of-type {
	padding-right: 0;
}

.social .item .link {
	margin-left: calc(var(--grid-size) * 2);
	background-color: #083859;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social .item .link:hover {
	background-color: var(--color-primary);
	color: var(--color-medium);
}

@media (max-width: 992px) {
	.root .top .wrapper {
		flex-direction: column;
	}
	.root .top {
		height: auto;
		padding: var(--gutter-size) 0;
	}
	.root .top .links {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: calc(var(--grid-size) * 2);
	}
	.root .top .link .item {
		flex: 33%;
		box-sizing: border-box;
	}
}
