.root {
	background-color: rgba(9, 19, 31, 0.7);
	height: calc(var(--grid-size) * 8);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--grid-size);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.homeLink {
	display: flex;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	max-width: var(--max-width);
}

.links {
	display: flex;
}

.item {
	padding-right: calc(var(--grid-size) * 5);
	text-transform: uppercase;
	font-weight: var(--heading2-font-weight);
	font-family: var(--heading-font-family);
	font-size: 14.4px;
	transition: color 0.3s cubic-bezier(0.58, 0.3, 0.005, 1);
}

.item a {
	color: var(--color-text-on-dark);
}

.item:last-of-type {
	padding-right: 0;
}

a.active,
.item a:hover {
	color: var(--color-primary);
}
