.root {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: calc(var(--grid-size) * 25) 0 calc(var(--grid-size) * 21) 0;
}

.title {
	color: var(--color-primary);
	letter-spacing: 4px;
	font-weight: 600;
	font-size: 32px;
	line-height: 32px;
}

.xlTitle {
	font-weight: var(--heading-xl-font-weight);
	color: var(--color-text-on-dark);
	font-size: var(--heading-xl-font-size);
}

.title,
.xlTitle {
	margin-bottom: calc(var(--grid-size) * 2);
	text-transform: uppercase;
	line-height: 1;
	font-family: var(--heading-font-family);
}

.blurb {
	color: var(--color-text-on-dark);
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	max-width: calc(var(--grid-size) * 115);
}

.buttonWrapper {
	margin-top: calc(var(--grid-size) * 4);
}

@media (max-width: 992px) {
	.root .xlTitle {
		font-size: 80px;
	}
	.root .title {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	.root {
		padding: calc(var(--grid-size) * 14) 0 calc(var(--grid-size) * 10) 0;
	}
	.root .xlTitle {
		font-size: 40px;
	}
	.root .title {
		font-size: 16px;
	}
	.root .blurb {
		font-size: 14px;
		line-height: 26px;
	}
}
