.root {
	margin-top: calc(var(--grid-size) * 12);
}

.intro {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: calc(var(--grid-size) * 2);
	text-align: center;
}

.list {
	margin-bottom: calc(var(--grid-size) * 8);
	display: flex;
	flex-direction: row;
}

.list .item {
	flex-grow: 1;
	overflow: hidden;
	padding: var(--grid-size);
	box-sizing: border-box;
	max-width: 50%;
}

.list .img {
	max-width: 100%;
}

@media (max-width: 768px) {
	.list {
		flex-wrap: wrap;
		align-items: center;
	}
	.list .item {
		flex: 50%;
	}
}
