.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: calc(var(--grid-size) * 8);
}

.reverse {
	flex-direction: row-reverse;
}

.trailingBias .leading {
	flex: 33.3%;
}

.trailingBias .trailing {
	flex: 66.6%;
}

.leading {
	flex: 50%;
	text-align: center;
	padding: var(--grid-size);
}

.trailing {
	flex: 50%;
	padding: var(--grid-size);
}

.title2 {
	margin-bottom: calc(var(--grid-size) * 2);
	font-size: 38px;
	font-weight: 600;
	line-height: 52px;
	color: var(--color-medium);
}

.title3 {
	margin-bottom: calc(var(--grid-size) * 2);
	font-size: var(--subheading-font-size);
	font-weight: var(--subheading-font-weight);
	line-height: var(--subheading-lineheight);
	color: var(--color-medium);
}

.blurb {
	line-height: 28.8px;
}

@media (max-width: 992px) {
	.collapseHide .leading {
		display: none;
	}
	.collapseHide .trailing {
		flex: 1;
	}
	.collapseHide .title3,
	.collapseHide .title2 {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.collapseStack.root {
		flex-direction: column;
	}
	.collapseStack .leading,
	.collapseStack .trailing {
		flex: 1;
	}
	.collapseStack .leading {
		/* max-width: 60%; */
	}
	.collapseStack .title2,
	.collapseStack.title3 {
		text-align: center;
	}
}
