.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: calc(var(--grid-size) * 10);
}

.root.smaller {
	margin-bottom: calc(var(--grid-size) * 8);
}

.reverse {
	flex-direction: row-reverse;
}

.trailingBias .leading {
	flex: 33.3%;
}

.trailingBias .trailing {
	flex: 66.6%;
}

.leading {
	flex: 50%;
	text-align: center;
	padding: var(--grid-size);
}

.trailing {
	flex: 50%;
	padding: var(--grid-size);
}

.title2 {
	margin-bottom: calc(var(--grid-size) * 1);
	font-size: 38px;
	font-weight: 600;
	line-height: 52px;
	color: var(--color-medium);
}

.title3 {
	margin-bottom: calc(var(--grid-size) * 2);
	font-size: var(--subheading-font-size);
	font-weight: var(--subheading-font-weight);
	line-height: var(--subheading-lineheight);
	color: var(--color-medium);
}

.blurb {
	line-height: 28.8px;
}

@media (max-width: 992px) {
	.collapseHide .leading {
		display: none;
	}
	.collapseHide .trailing {
		flex: 1;
	}
}

@media (max-width: 768px) {
	.collapseStack.root {
		flex-direction: column;
	}
	.collapseStackReverse.root {
		flex-direction: column-reverse !important;
	}
	.collapseStack .leading,
	.collapseStack .trailing {
		flex: 1;
	}
	.collapseStack .leading {
		text-align: center;
	}
	.title2 {
		font-size: 32px;
		font-weight: 600;
		line-height: 40px;
	}
	.title3 {
		margin-bottom: var(--grid-size);
	}
}
