.root {
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item {
	padding: calc(var(--grid-size) * 2);
}

.heading {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-bottom: var(--grid-size);
	color: var(--color-medium);
}

.img {
	height: calc(var(--grid-size) * 5);
}

@media (max-width: 768px) {
	.list {
		flex-wrap: wrap;
	}
}
